/*Css for arabic version*/


#nav .addational-register a {
    margin-top: 20px;
    padding: 11px 85px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}
#nav-mobile .nav-bottom-mobile ul {
    text-align: right;
    margin-right: 40px;
}
#nav-mobile .nav-bottom-mobile ul li {
    margin-bottom: 30px;
    transition: background-color 0.3s;
    margin-right: 100px;
}

@media only screen and (max-width: 760px) {
    #nav-mobile .addational-register a {
        margin-top: 20px;
        padding: 13px 164px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: 500;
        font-size: 1.2em;
        text-decoration: none;
        transition: background-color, color 0.3s ease-in;
    }
}
